

.page-toggle 
{
    color: black;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
}

.toggle-active 
{
    color: blue;
}

.paginator {
    display:flex;
    justify-content: space-around;
    padding: 5px 20px;
}

.pages {
    width: 100%;
    min-height:500px;
}

.page {
    display: none;
    margin-left:5px;
}

.page-active {
    display: initial;
}