/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body 
{
    background-image: url('http://cdn.wallpapersafari.com/72/98/vXWTrY.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Raleway', sans-serif;
}

.box-header
{
	font-size: 1.2em;
	font-weight: bold;
}

/* Navbar */
.navbar-default
{
	background-color: rgba(255, 255, 255, 0.7);
	border-color: rgba(88, 88, 88, 0.4);
}

.note-editable {
    height: 200px;
}

.note-editor {
    margin-bottom: 0px !important;
}

.wizard .tab-pane {
    padding-top: 0px !important;
}

.wizard .nav-tabs {
    border: 0px;
}

.tab-pane {
    margin-bottom: 20px;
}

#cv-create .multiselect-native-select .btn-group, #cv-create .multiselect-native-select .btn-group button {
    width: 100%;
}